
<%= simple_form_for(@tariff) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :distribution %>
    <%= f.input :state %>
    <%= f.input :aneel_number %>
    <%= f.input :initial_validity %>
    <%= f.input :final_validity %>
    <%= f.input :subgroup %>
    <%= f.input :tusd_application_reais_per_mwh %>
    <%= f.input :te_application_reais_per_mwh %>
    <%= f.input :total_fee_without_tax_reais_pew_mwh %>
    <%= f.input :pis_confis %>
    <%= f.input :icms %>
    <%= f.input :fee_with_tax_reais_per_mwh %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
