<p id="notice"><%= notice %></p>
<h1>Tariffs</h1>

<div>
  <h4>Importar base</h4>
  <%= form_tag import_tariffs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <br>
    <%= submit_tag 'Importar base' %>
  <% end %>
</div>

<div class="row">
  <% @tariffs.each do |tariff| %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card-product">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-product-infos">
          <div class="row">
            <div class="col-4">
              <p>Taxa (R$/MWh)</p>
            </div>
            <div class="col-4">
              <%= tariff.fee_with_tax_reais_per_mwh %>
            </div>
            <div class="col-4">
              <%= tariff.state %>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <%= link_to 'Show', tariff %>
            </div>
            <div class="col-4">
              <%= link_to 'Edit', edit_tariff_path(tariff) %>
            </div>
            <div class="col-4">
              <%= link_to 'Destroy', tariff, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>
        </div>
      </div>
      <br>
    </div>
  <% end %> 
</div>

<br>

<%= link_to 'New Tariff', new_tariff_path %>