<p id="notice"><%= notice %></p>

<h1>Tariffs</h1>

<div>
  <h4>Importar base</h4>
  <%= form_tag import_tariffs_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <br>
    <%= submit_tag 'Importar base' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Distribution</th>
      <th>State</th>
      <th>Aneel number</th>
      <th>Initial validity</th>
      <th>Final validity</th>
      <th>Subgroup</th>
      <th>Tusd application reais per mwh</th>
      <th>Te application reais per mwh</th>
      <th>Total fee without tax reais per mwh</th>
      <th>Pis confis</th>
      <th>Icms</th>
      <th>Fee with tax reais per mwh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tariffs.each do |tariff| %>
      <tr>
        <td><%= tariff.distribution %></td>
        <td><%= tariff.state %></td>
        <td><%= tariff.aneel_number %></td>
        <td><%= tariff.initial_validity %></td>
        <td><%= tariff.final_validity %></td>
        <td><%= tariff.subgroup %></td>
        <td><%= tariff.tusd_application_reais_per_mwh %></td>
        <td><%= tariff.te_application_reais_per_mwh %></td>
        <td><%= tariff.total_fee_without_tax_reais_per_mwh %></td>
        <td><%= tariff.pis_confis %></td>
        <td><%= tariff.icms %></td>
        <td><%= tariff.fee_with_tax_reais_per_mwh %></td>
        <td><%= link_to 'Show', tariff %></td>
        <td><%= link_to 'Edit', edit_tariff_path(tariff) %></td>
        <td><%= link_to 'Destroy', tariff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tariff', new_tariff_path %>
