<br>
<h1>Ae Fones</h1>
<h3>Sente o drama dessa belezura, mermão</h3>
<p>Pega esse bannerzinho delicia e esses cards cremosos</p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4))">
    <div class="container">
        <h1>Calculadora de gastos de energia. Ta pensando o que? <strong>Use e veja a <i>diferença nos seus gastos!</i></strong></h1>
        <br>
        <%= link_to "Lista de ar condicionados", air_conditionings_path, class: "btn btn-primary" %>
        <%= link_to "Lista de tarifas", tariffs_path, class: "btn btn-success" %>
        <br>
        <br>
        <%= simple_form_for :search, url: root_path, method: :get do |f| %>
            <div class="search-form-control form-group">
                <input class="form-control string required" placeholder="Ta em construção" type="text" name="search[query]" id="search_query" />
                <button name="button" type="submit" class="btn btn-flat">
                <i class="fas fa-search"></i> Search
                </button>
            </div>
        <% end %>
        <br>
    </div>
</div>
<br>
<div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <%= link_to "Lista de ar condicionados", air_conditionings_path, class:"card-category" %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <%= link_to "Lista de tarifas", tariffs_path, class:"card-category" %>
    </div>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
        BACON
    </div>
</div>

<table>
    <tr>
        <th><h4 class='mr-3'>Ano 1</h4></th>
        <th><h4 class='mr-3'>Ano 2</h4></th>
        <th><h4 class='mr-3'>Ano 3</h4></th>
        <th><h4 class='mr-3'>Ano 4</h4></th>
        <th><h4 class='mr-3'>Ano 5</h4></th>
        <th><h4 class='mr-3'>Ano 6</h4></th>
        <th><h4 class='mr-3'>Ano 7</h4></th>
        <th><h4 class='mr-3'>Ano 8</h4></th>
        <th><h4 class='mr-3'>Ano 9</h4></th>
        <th><h4 class='mr-3'>Ano 10</h4></th>
    </tr>
    <tr>
        <td>Oi</td>
    </tr>
</table>

 