<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Air Conditionings</h1>

  <div>
    <h4>Importar base</h4>
    <%= form_tag import_air_conditionings_path, multipart: true do %>
      <%= file_field_tag :file %>
      <br>
      <br>
      <%= submit_tag 'Importar base' %>
    <% end %>
  </div>

  <div class="row">
    <% @air_conditionings.each do |air_conditioning| %>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= air_conditioning.provider %></h2>
            <p><%= air_conditioning.brand %></p>
            <div class="row">
                <div class="col-4">
                  <%= link_to 'Show', air_conditioning %>
                </div>
                <div class="col-4">
                  <%= link_to 'Edit', edit_air_conditioning_path(air_conditioning) %>
                </div>
                <div class="col-4">
                  <%= link_to 'Destroy', air_conditioning, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
          </div>
        </div>
        <br>
      </div>
    <% end %>
  </div>

  <br>

  <%= link_to 'New Air Conditioning', new_air_conditioning_path %>
</div>