<p id="notice"><%= notice %></p>

<h1>Air Conditionings</h1>

<div>
  <h4>Importar base</h4>
  <%= form_tag import_air_conditionings_path, multipart: true do %>
    <%= file_field_tag :file %>
    <br>
    <br>
    <%= submit_tag 'Importar base' %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th>Provider</th>
      <th>Brand</th>
      <th>Model intern</th>
      <th>Model extern</th>
      <th>Version</th>
      <th>Capacity btu hour</th>
      <th>Capacity kw</th>
      <th>Power kw</th>
      <th>Efficiency kw 127v</th>
      <th>Efficiency kw 220v</th>
      <th>Consumption 127v</th>
      <th>Consumption 220v</th>
      <th>Voltage</th>
      <th>Consumption procel kwh per month</th>
      <th>Consumption average brazil kwh per month</th>
      <th>Hours consumption per month</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @air_conditionings.each do |air_conditioning| %>
      <tr>
        <td><%= air_conditioning.category %></td>
        <td><%= air_conditioning.provider %></td>
        <td><%= air_conditioning.brand %></td>
        <td><%= air_conditioning.model_intern %></td>
        <td><%= air_conditioning.model_extern %></td>
        <td><%= air_conditioning.version %></td>
        <td><%= air_conditioning.capacity_btu_hour %></td>
        <td><%= air_conditioning.capacity_kw %></td>
        <td><%= air_conditioning.power_kw %></td>
        <td><%= air_conditioning.efficiency_kw_127v %></td>
        <td><%= air_conditioning.efficiency_kw_220v %></td>
        <td><%= air_conditioning.consumption_127v %></td>
        <td><%= air_conditioning.consumption_220v %></td>
        <td><%= air_conditioning.voltage %></td>
        <td><%= air_conditioning.consumption_procel_kwh_per_month %></td>
        <td><%= air_conditioning.consumption_average_brazil_kwh_per_month %></td>
        <td><%= air_conditioning.hours_consumption_per_month %></td>
        <td><%= link_to 'Show', air_conditioning %></td>
        <td><%= link_to 'Edit', edit_air_conditioning_path(air_conditioning) %></td>
        <td><%= link_to 'Destroy', air_conditioning, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Air Conditioning', new_air_conditioning_path %>
